extends ./components/layout.jade

block title
    title Sell | Homepage

block content
    section.video-section
        .container
            .text
                p.
                    Продам приватизированный участок в пгт. Старый Салтов. Участок разделен на 2 смежных участка 6 и 8 соток.
                    У каждого свой адрес , кадастровый номер и пакет документов (индивидуальное строительство дома).
                    Не кооператив !!! Это большой плюс т.к. Вы всегда останетесь собственником своей земли и никакие рейдерские захваты и смены
                    руководства кооператива Вам не страшны. Пляж 3 минуты ходьбы. Электричество в 1 метре от участка.
                    Газ в 1 шаге от участка. С участка открывается прекрасный вид на большую воду Салтовского Водохранилища.
                    Рядом котеджная застройка. Соседи живут круглый год. Возможен обмен и продажа участков по отдельности.
            .video-wrap#video-block
                h2 Видео обзор участка
                .wrap
                    iframe(width="100%" height="480" src="https://www.youtube.com/embed/Nt4fp43U2ys" frameborder="0" allowfullscreen)

    section.map-section
        .container
            h2 Участок на карте
        #map.googleMap.clearfix(data-zoom="9" data-center-lat="50.4268934" data-center-lng="30.72845428")
    .img-block

